<!DOCTYPE html>
<html>
<head>
 <title>Descarga de Anime</title>
 <link href="/stylesheets/style.css" rel="stylesheet">
<meta charset="utf-8">
</head>
<body>
<header>
    <h1><i>JAnime</i></h1>
    <nav>
        <ul>
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Animes Recientes</a></li>
            <li><a href="#">Animes Populares</a></li>
            <li><a href="#">Buscar Anime</a></li>
        </ul>
    </nav>
</header>

<main>

    <h2>Animes Recientes</h2>
    <div class="anime">
        <img src="https://i.pinimg.com/originals/84/e8/61/84e861ecef7dcc7c81e43ceef58d6aed.png">
        <h3>Naruto Shippuden</h3>
        <p><a href="#">Descargar</a></p>
    </div>

    <div class="anime">
        <img src="https://i.pinimg.com/564x/15/32/11/153211fa3cc970b29a0349495ba0f9c3.jpg">
        <h3>Attack on Titan</h3>
        <p><a href="#">Descargar</a></p>
    </div>

    <div class="anime">
        <img src="https://i.pinimg.com/236x/59/d6/ec/59d6ec31ecb9c98e336c5c476ac45893.jpg">
        <h3>One Piece</h3>
        <p><a href="#">Descargar</a></p>
    </div>
</main>
<footer>
    <p>Derechos de autor © 2023 JAnime</p>
</footer>
</body>
</html>
